.posts {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  justify-content: center;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, calc(33% - 0.5rem));
  }
}

.empty {
  text-align: center;
  color: #fff;
  grid-column: 1 / -1;
}
